/* *********************** General *********************** */

.header-title {
    font-size: 4.5rem;
}







/* *********************** Start Navbar *********************** */
.navbar>.container>div>ul>li>a {
    position: relative;
}

.navbar>.container>div>ul>li>a::before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -6px;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;

}

.navbar a:hover::before,
.navbar .container > div > ul > li:hover > a::before,
.navbar .container > div > ul > li > a.active::before {
    visibility: visible;
    width: 80%;
}

.navbar a,
.navbar a:focus {
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.nav-link {
    padding: 0 !important;
}

.navbar .navbar-nav > li {
    padding: 10px 0 10px 30px;
}


/* *********************** End Navbar *********************** */

/* *********************** Start Header *********************** */
header {
    background-image: url(../imgs/hero-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.header-content {
    position: absolute;
}

/* *********************** End Header *********************** */